.Topbar {
  width: 100%;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: rgb(var(--background), 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: right;
  position: fixed;
  top: 0;
  right: 0;

  & nav {
    display: flex;
    gap: 5px;

    & button, a {
      background-color: transparent;
      border: none;
      position: relative;

      & svg {
        color: rgb(var(--text-darkest));
        font-size: 20px;
      }

      & p {
        width: 13px;
        height: 13px;
        color: white;
        background-color: rgb(var(--color-error));
        font-weight: 700;
        font-size: 0.6rem;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: -4px;
      }
    }
  }

  .showNotifications {
    width: 60%;
    min-height: 40px;
    max-height: 250px;
    padding: 10px;
    background-color: var(--background-alpha);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 45px;
    right: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(var(--text-darkest), 0.2);

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: var(--background-alpha);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      position: absolute;
      top: -5px;
      right: 10px;
      border-radius: 3px;
      transform: rotate(45deg);
    }

    & .no-notifications {
      width: 100%;
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        font-size: 1.5rem;
        color: rgba(var(--text-darkest), 0.8);
      }
    }
  }
}

@media (min-width: 768px) {
  .Topbar {
    width: calc(100% - 110px);

    .showNotifications {
      width: 300px;
    }
  }
}

@media (min-width: 1024px) {
  .Topbar {
    width: calc(100% - 270px);
  }
}
