@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

:root {

  /* Colores de fondo */
  --background: 232, 232, 233;
  --background-alpha: rgba(255, 255, 255, 0.6);


  /* Colores de texto */
  --text-lightest: 255, 255, 255;
  --text-light: 235, 248, 252;
  --text-dark: 2, 83, 102;
  --text-darkest: 0, 66, 94;

  /* Colores de estado */
  --color-error: 158, 3, 3;
  --color-correct: 22 181 0;

  /* Colores de las paginas */
  --primary-color-light: 123, 194, 230;
  --primary-color-dark: 0, 162, 224;
  --secondary-color-light: 0, 125, 174;
  --secondary-color-dark: 0, 66, 94;

  --color-atipico: 0, 125, 174;
}

[data-theme="dark"] {

  /* Colores de fondo */
  --background: 11, 14, 54;
  --background-alpha: rgb(0, 2, 32);


  /* Colores de texto */
  --text-lightest: 255, 255, 255;
  --text-light: 255, 255, 255;
  --text-dark: 255, 255, 255;
  --text-darkest: 255, 255, 255;

  /* Colores de estado */
  --color-error: 158, 3, 3;
  --color-correct: 4 66 0;

  /* Colores de las paginas */
  --primary-color-light: 25 102 255;
  --primary-color-dark: 3 49 172;
  --secondary-color-light: 0 67 223;
  --secondary-color-dark: 0 73 255;

  --color-atipico: 16, 23, 82;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  /* background-color: rgb(var(--background)); */
}
