@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --background1: rgb(232, 232, 233);
  --background2: rgba(255, 255, 255, 0.6);
  --background1-no-alpha: 211, 211, 211;
  --background2-no-alpha: 255, 255, 255;
  --text-light: 255, 255, 255;
  --text-dark: 0, 0, 0;
  --color1: 123, 194, 230;
  --color2: 0, 162, 224;
  --color3: 0, 125, 174;
  --color4: 0, 66, 94;
  --color5: 47, 79, 94;
  --color6: 19, 29, 33;
  --error: 158, 3, 3;
  --correct: 19, 110, 1;
}

[data-theme="dark"] {
  --background1: rgb(11, 14, 54);
  --background2: rgba(0, 0, 0, 0.3);
  --background1-no-alpha: 11, 14, 54;
  --background2-no-alpha: 0, 0, 0;
  --text-light: 255, 255, 255;
  --text-dark: 0, 0, 0;
  --color1: 46, 54, 115;
  --color2: 4, 6, 42;
  --color3: 16, 23, 82;
  --color4: 84, 87, 119;
  --color5: 47, 79, 94; /*No*/
  --color6: 19, 29, 33; /*No*/
  --error: 158, 3, 3;
  --correct: 19, 110, 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
