.Sidebar {
  min-height: 100vh;
  min-width: 270px;
  padding: 15px;
  overflow: hidden;

  .container {
    width: 100%;
    height: 100%;
    background: var(--background2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    & header {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .image-text {
        display: flex;
        padding-top: 30px;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;

        & span {
          font-size: 1.2rem;
          font-weight: 700;
          color: rgb(var(--color4));
          padding-left: 10px;
        }
      }

      & hr {
        width: 90%;
        height: 2px;
        border: 1px solid rgb(var(--color4));
        margin-bottom: 20px;
      }

      .links {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & a {
          height: 50px;
          width: 100%;
          text-decoration: none;
          color: rgb(var(--color4));
          font-size: 1.2rem;
          padding-left: 10px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          transition: background-color 0.5s ease;

          &:hover {
            background-color: rgba(var(--color2), 0.1);
            color: rgb(var(--color4));
          }

          & svg {
            padding-right: 10px;
            height: 20px;
            color: rgb(var(--color4));
          }
        }

        & .selected {
          background-color: rgb(var(--color3));
          color: var(--background1);

          &:hover {
            background-color: rgb(var(--color3));
            color: var(--background1);
          }

          & svg {
            color: rgb(var(--background1));
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .Sidebar {
    min-width: 110px;
    
    & .container {
  
      & header {
  
        .image-text {
  
          & span {
            display: none;
          }
        }
  
        & hr {
          width: 90%;
        }
  
        .links {
          width: 100%;
  
          & a {
            text-indent: -999px;
            width: 50px;
          }

        }
      }
    }
  }
}