.Manage {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(var(--background));
  padding-top: 30px;
  overflow: hidden;

  .container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .info_event {
      width: 100%;
      height: auto;
      background-color: var(--background-alpha);
      border-radius: 10px;
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;

      .data {
        width: 100%;
        height: auto;
        padding: 15px;
        position: relative;

        & .changeData {
          background-color: rgb(var(--background), 0.5);
          border-radius: 10px;
        }

        & input {
          width: 100%;
          padding: 5px;
          background-color: transparent;
          border: none;
          outline: none;
          white-space: nowrap;
          overflow: scroll;

          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }

          &::-webkit-scrollbar-thumb {
            background-color: transparent;
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
          }

          &:focus {
            outline: none;
            border-bottom: 2px solid rgb(var(--text-darkest));
          }

          &:nth-child(1) {
            font-size: 2rem;
            font-weight: 700;
            color: rgb(var(--text-darkest));
          }
        }

        & textarea {
          width: 100%;
          height: 100px;
          padding: 5px;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 1.2rem;
          font-weight: 500;
          color: rgb(var(--text-dark));
          resize: none;

          &:focus {
            outline: none;
            border-bottom: 2px solid rgb(var(--text-darkest));
          }
        }

        & p {
          width: 30px;
          padding: 5px;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 700;
          color: white;
          background-color: rgb(var(--color-correct));
          border-radius: 5px;
          position: absolute;
          top: 5px;
          right: 10px;
        }

        & .changeData_buttons {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
        }

        & button {
          width: 130px;
          height: 35px;
          margin-top: 15px;
          font-weight: 500;
          font-size: 1rem;
          border-radius: 10px;
          background-color: rgb(var(--secondary-color-dark));
          color: rgb(var(--text-light));
          border: none;
          box-shadow: 1px 1px 2px rgb(var(--secondary-color-light));
          transition: 0.3s ease;

          &:hover {
            cursor: pointer;
            background-color: rgb(var(--secondary-color-dark), 0.8);
          }
        }

        & .cancel {
          background-color: rgb(var(--color-error));

          &:hover {
            background-color: rgb(var(--color-error), 0.8);
          }
        }
      }

      .image {
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & input {
          display: none;
        }

        & h4 {
          color: rgb(var(--color-error));
          text-align: center;
        }

        & img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.342);
        }
      }
    }

    & .participants {
      width: 100%;
      height: auto;
      max-height: 350px;
      padding: 10px;
      background-color: var(--background-alpha);
      color: rgb(var(--text-darkest));
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      & h1 {
        margin-bottom: 10px;
      }

      & .balances {
        width: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }

        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
      }
    }

    & .group {
      background-color: var(--background-alpha);
      width: 100%;
      border-radius: 10px;

      & .title {
        text-align: center;
        color: rgb(var(--text-darkest));
      }

      & .cards {
        min-width: 100%;
        min-height: 200px;
        height: 100%;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        &::after {
          content: "";
          width: 100%;
          height: 80px;
        }
      }
    }

    .createActivity {
      width: 80px;
      height: 80px;
      background-color: rgb(var(--primary-color-dark));
      border-radius: 50%;
      position: fixed;
      bottom: 120px;
      right: 10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
      z-index: 99;

      &::before {
        content: "+";
        color: white;
        font-size: 6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -58%);
      }

      &:hover {
        cursor: pointer;
      }
    }

    & .button-add {
      width: 50px;
      height: 50px;
      color: rgb(var(--text-lightest));
      background-color: rgb(var(--secondary-color-dark));
      text-decoration: none;
      font-size: 1.5rem;
      border-radius: 50%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 220px;
      right: 25px;
      overflow: hidden;
    }
  }
}

@media (min-width: 768px) {
  .Manage {
    .container {
      padding: 20px;
      gap: 20px;

      .info_event {
        flex-direction: row;
        max-width: 600px;

        .data {
          width: 70%;
        }

        .image {
          width: 30%;
        }
      }
      & .group {
        & .cards {
          justify-content: center;

          &::after {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .Manage {
    & .container {
      flex-wrap: wrap;

      & .participants {
        max-width: 600px;
      }

      & .group {
        & .cards {
          justify-content: left;

          &::after {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}
