.Bottombar {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 10px;
  left: 0;
  padding: 10px;
  z-index: 105;

  & .container_b {
    width: 100%;
    height: 100%;
    background: var(--background-alpha);
    box-shadow: 0 0 4px rgb(88, 88, 88);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    & .links {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;

      & a {
        text-decoration: none;
        color: rgb(var(--text-darkest));
        font-size: 0.7rem;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: rgba(var(--secondary-color-light), 0.6);
            color: rgb(var(--text-light));
        }
      }

      & .selected {
        background-color: rgb(var(--secondary-color-light));
          color: rgb(var(--text-light));

        &:hover {
          background-color: rgb(var(--secondary-color-light));
          color: rgb(var(--text-light));
        }
      }
    }
  }
}
