.Register {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(var(--background));
  position: relative;
  z-index: 100;
  overflow: hidden;

  .formRegister {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: scaleAndFadeIn 1s ease-in-out 1s forwards;

    .container {
      width: auto;
      height: auto;
      padding: 20px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 20px;

      & h1 {
        color: rgb(var(--secondary-color-dark));
        font-weight: 700;
        font-size: 2.5rem;
        margin: 10px;
      }

      & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        & .avatar {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          & h4 {
            color: rgb(var(--secondary-color-dark));
          }

          & input {
            display: none;
          }

          & img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 0px 0px 6px rgba(var(--secondary-color-dark), 0.342);
          }
        }

        & .inputs {
          max-width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          margin-bottom: 10px;
          gap: 10px;

          & input {
            width: 90%;
            height: 45px;
            padding: 10px;
            border-radius: 10px;
            border: none;
            outline: none;
            font-size: 1.2rem;
            color: rgb(var(--text-darkest));
            background-color: var(--background-alpha);
            transition: border 0.2s ease;

            &:focus {
              border: 2px solid rgb(var(--secondary-color-light));
            }
          }
        }
        & button {
          margin-top: 20px;
          width: 170px;
          height: 40px;
          font-weight: 500;
          font-size: 1.2rem;
          border-radius: 10px;
          background-color: rgb(var(--secondary-color-dark));
          color: rgb(var(--text-lightest));
          border: none;
          box-shadow: 1px 1px 2px rgb(var(--primary-color-light));
          transition: 0.3s ease;
          position: relative;
          overflow: hidden;

          &:hover {
            cursor: pointer;
            background-color: rgb(var(--secondary-color-dark), 0.8);
          }
        }
      }
    }
  }

  .changeToLogin {
    width: 100%;
    min-height: 30vh;

    &::before {
      content: "";
      width: 1500px;
      height: 1500px;
      background-color: rgb(var(--secondary-color-light));
      position: absolute;
      border-radius: 50%;
      top: 70vh;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -1;
      animation: shapeSweep 1s ease-in-out 0.1s forwards;
    }

    .info {
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgb(var(--text-light));
      opacity: 0;
      animation: scaleAndFadeIn 1s ease-in-out 0.2s forwards;

      & h2 {
        font-weight: 700;
        font-size: 1.7rem;
      }

      & p {
        margin: 20px;
        max-width: 500px;
        font-weight: 300;
        font-size: 1.1rem;
        text-align: center;
      }

      & a {
        font-weight: 300;
        font-size: 1.1rem;
        text-decoration: none;
        color: rgb(var(--text-light));
        padding: 7px;
        border: 2px solid rgb(var(--text-light));
        border-radius: 10px;
        transition: background 0.3s ease;

        &:hover {
          background: rgb(var(--primary-color-light));
          color: rgb(var(--text-dark));
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .Register {
    .formRegister {
      .container {
        margin: 40px;
        padding: 20px;
        background-color: var(--background-alpha);

        & h1 {
          font-size: 2.7rem;
        }

        & form {
          & .inputs {
            & input {
              font-size: 1.3rem;
              max-width: 45%;
            }
          }

          & button {
            font-size: 1.3rem;
          }
        }
      }
    }

    .changeToLogin {
      &::before {
        width: 2000px;
        height: 2000px;
      }
      .info {
        & h2 {
          font-size: 2.2rem;
        }

        & p {
          font-size: 1.3rem;
        }

        & a {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .Register {
    display: flex;

    .formRegister {
      max-width: 50%;

      .container {
        margin: 60px;
        padding: 20px;
        background-color: var(--background-alpha);

        & h1 {
          font-size: 3.5rem;
        }

        & form {
          & .inputs {
            gap: 15px;

            & input {
              font-size: 1.4rem;
              max-width: 45%;
              min-width: 300px;
              background-color: rgb(var(--background), 0.5);
            }
          }

          & button {
            font-size: 1.4rem;
          }
        }
      }
    }

    .changeToLogin {
      max-width: 50%;

      &::before {
        width: 2000px;
        height: 2000px;
        top: 0;
        left: 50wh;
        transform: translate(0, -50%);
        animation: shapeSweepH 1s ease-in-out 0.1s forwards;
      }
      .info {
        & h2 {
          font-size: 3rem;
        }

        & p {
          font-size: 1.5rem;
        }

        & a {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@keyframes shapeSweep {
  0% {
    top: 0;
    border-radius: 0;
  }
  30% {
    border-radius: 50%;
  }
  50% {
    opacity: 1;
  }
}

@keyframes shapeSweepH {
  0% {
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100wh;
    height: 100vh;
  }
  50% {
    opacity: 1;
  }
  100% {
    border-radius: 50%;
  }
}

@keyframes scaleAndFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5); /* Escala inicial del 50% */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Escala final del 100% */
  }
}
